{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="card card-body">
                <h1>Login here</h1>
                <form action="{% url 'user_login' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">Username :</label>
                    <input type="text" name="username" placeholder="enter username">
                    <br><br>
                    <label for="password">Password :</label>
                    <input type="password" name="password" placeholder="enter password">
                    <br><br>
                    <button type="submit" class="btn btn-success">submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}